*{ 
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70v;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{


    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border-color: rgb(28, 5, 5);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #e8e7a4;
}
#reset-btn {
    font-size: 1.25rem;
    padding: 1rem;
    background-color: blue;
    color: #fff;
    border-radius: 1rem; 
    border: none;
}
#new-btn{
    font-size: 1.25rem;
    padding: 1rem;
    background-color: blue;
    color: #fff;
    border-radius: 1rem; 
    border: none;
}
#msg{
    color: #ffffc7;
    font-size: 5vmin;
    
}
.msg-container{
    height: 1000vmin;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 2rem;
}
.hide{
    display: none;
}